.welcome_footer {
	float: none !important;
}

.welcome_text {
	font-size: 1.2em;
}

.getting_start_btn {
	width: 100% !important;
}

.gs_card_div {
	
}

.gs_school_div {
	display: block;
	-webkit-transition: 2s;
	transition: 2s;
	z-index: 1;
	margin-top: 60px !important;
}

.gs_program_div {
	display: none;
	-webkit-transition: 2s;
	transition: 2s;
	z-index: 2;
	margin-top: 60px !important;
}

.gs_teacher_div {
	display: none;
	-webkit-transition: 2s;
	transition: 2s;
	z-index: 3;
	margin-top: 60px !important;
}

.gs_student_div {
	display: none;
	-webkit-transition: 2s;
	transition: 2s;
	z-index: 4;
	margin-top: 60px !important;
}

.gs_parent_div {
	display: none;
	-webkit-transition: 2s;
	transition: 2s;
	z-index: 5;
	margin-top: 60px !important;
}

.gs_col_next {
	text-align: right;
}

.gs_1_chk {
	display: none;
}

.gs_2_chk {
	display: none;
}

.gs_3_chk {
	display: none;
}

.gs_4_chk {
	display: none;
}

.gs_5_chk {
	display: none;
}

.gs_summary_schName {
	margin-top : 15px !important;
}

.gs_summary_progName {
	margin-top : 25px !important;
}

.gs_summary_prog_chkbox {
	padding-left : 0 !important;
}

.gs_summary_stu_addBtn {
	position: relative;
	top: 1.7rem;
}